h2 {
    text-align: center;
    margin-bottom: 80px;
  }
.skills-container {
    padding: 20px;
    justify-content: center;
    margin-bottom: 80px;
  }
  
  .skills-icons {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 0px;
    row-gap: 40px;
    justify-items: center;
    width: 30%;
    margin: auto;

  }
  
  .skills-icons img {
    width: 80px;
    height: 80px;
    transition: transform 0.3s;
    background-color: rgb(255, 255, 255);
    border-radius: 30%;
    padding: 5px;
    margin: 0px;
  }
  
  .skills-icons img:hover {
    transform: scale(1.5);
    cursor:url('../images/ovni3.png') 4 2 ,auto;
  }
  
  